@import "../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

div {
  display: grid;
  align-items: center;
}

article {
  background-color: $tertiary-colour;
  color: $primary-colour;
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-wrap: break-word;
  padding: 2rem 2rem 2rem 2rem;
  box-shadow: 10px 10px $article-shadow;

  //   font-size: 20px;
}
