@import "../variables.scss";

section {
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.container .spinner {
  display: flex;
  justify-content: center;
  margin: auto;
}

section h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.structure {
  display: flex;
  justify-content: space-evenly;
}

.date {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}
