@import "../variables.scss";

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container .spinner {
  display: flex;
  justify-content: center;
  margin: auto;
}

section h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.structure {
  display: flex;
  justify-content: space-evenly;
}

.date {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.clock-comp {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

ul {
  display: flex;
  list-style-type: none;
}
li {
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 250px) and (max-width: 1065px) {
  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .clock-comp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  Tbody tr {
    padding: 1rem;
    border: 0px solid white;
  }
  .structure {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
    overflow-x: hidden;
  }
}
