@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/* define the fonts and colors used in the project */
:root {
  --font: "Dancing Script", cursive;
  --color-bg: #252525;
  --color-txt: #fff;
  --color-home: #b8ef8d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  color: var(--color-txt);
}

header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.App .Navbar {
  display: flex;
  flex-direction: row;
  grid-template-columns: auto 1fr;
  justify-content: center;
}

.App .Navbar h2 {
  /* include padding instead of margin to have the header attached to the window's borders (and therefore to avoid the string included with a pseudo element from being displayed inappropriately to the left of the header) */
  padding: 0.25rem 0.75rem;
  font-size: 2.5rem;
  color: var(--color-bg);
  background: var(--color-home);
  /* position relative to absolute position the pseudo element */
  position: relative;
  /* transition for the change in background color (occurring as the nav items are pressed) */
}

.App .Navbar h2:before {
  /* with a pseudo element include a string, which is hidden by default below the header, to the left of the page  */
  content: "🤲";
  position: absolute;
  left: 80%;
  transform: translateX(-60vw);
  /* top to match the vertical padding */
  top: 0.35rem;
  color: var(--color-txt);
  /* transition for the transform property, to translate the string into view and to the right of the header */
  transition: all 0.5s ease-out;
  /* z-index to have the pseudo element below the header itself */
  z-index: -1;
}

.App .Navbar h2:hover:before {
  /* translate the pseudo element into view on hover */
  transform: translateX(20px);
}

@media (max-width: 750px) {
  .App .Navbar h2:before {
    display: none;
  }
}

@media (max-width: 400px) {
  /* adjust the visible anchor link elements to show them in a single column, centered in the page */
  .App .Navbar h2 {
    display: none;
  }
  .App .Navbar ul {
    grid-column: 1/3;
    flex-direction: column;
    align-items: center;
  }
  .App .Navbar ul li {
    margin: 0.5rem 0;
  }
}
