$primary-colour: #1a202c;
$secondary-colour: #f6f1f1;
$tertiary-colour: #d9d9d9;
$article-shadow: rgb(128, 128, 128);
$bg-color: #ffffff;
$primary-font: var(--font);
$primary-font-size: calc(10px + 2vmin);
