@import "../variables.scss";

button {
  z-index: 100;
  background-color: black;
  color: white !important;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black !important;
}
